#bottom{

  width: 100%;
  height: 10%;
  background-color:red;
  margin-top:50% ;
 
}  
#bottom1{

  width: 100%;
  height: 10%;
  background-color:red;
  margin-top:50% ;
 
}  
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}
.overlay1 {
  height: 50%;
  width: 50%;
  margin-top: 15%;
  margin-left: 25%;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  background-color: white;
}

.overlay-content1 {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}


.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay1 .closebtn1 {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}
.overlay2 {
  height: 50%;
  width: 50%;
  margin-top: 15%;
  margin-left: 25%;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: white;
}

.overlay-content2 {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay2 .closebtn2 {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}
.overlay3 {
  height: 50%;
  width: 50%;
  margin-top: 15%;
  margin-left: 25%;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color:white;
}

.overlay-content3 {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay3 .closebtn3 {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}
.overlay4 {
  height: 50%;
  width: 50%;
  margin-top: 15%;
  margin-left: 25%;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: white;
}

.overlay-content4 {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay4 .closebtn4 {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}
.overlay5 {
  height: 50%;
  width: 50%;
  margin-top: 15%;
  margin-left: 25%;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: white;
}

.overlay-content5 {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay5 .closebtn5 {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}
.overlay6 {
  height: 50%;
  width: 50%;
  margin-top: 15%;
  margin-left: 25%;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: white;
}

.overlay-content6 {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay6 .closebtn6 {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}
.overlay7 {
  height: 50%;
  width: 50%;
  margin-top: 15%;
  margin-left: 25%;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: white;
}

.overlay-content7 {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay7 .closebtn7 {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}


.count {
  position: absolute;
  background-color: rgba(212,7,10,1.00);
  border-radius: 50%;
  width: 22px;
  height: 22px;
  padding: 2px;
  color: #fff;
  font-weight: 300;
  display:none;
  }
  #market {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    max-width: 300px;
    text-align: center;
    padding: 60px 0;
    margin: 4% auto;
    top: 20%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    }
    #addbtn{
      margin-top: 1%;
      float: left;
      margin-left: 5%;
    }  
    #add1{
      height: 100%;
      width: 100%;
      background-color: red;
    }
    #top{
        height:100%;
        width:100%;
        background-color:white;
       
        }
       
      
        #sarah{
            background-color:#C0C0C0 ;
            height: 40%;
            width: 100%;
            margin-top: 0%;
            border-radius: 0px 60px 60px 0px;
            
    
        }
        #profileimg{
            height: 100%;
            width: 100%;
            border-radius: 20px 20px 20px 20px;
        }
        #displayimg{
            width: 35%;
            height: 30%;
            margin-top: 10%;
            margin-left: 25%;
            float: left;
            background-position: center;
            background-size: cover;
            border-radius: 20px 20px 20px 20px;
        }
        #wimg{
            width: 30%;
            height: 30%;
            border-radius: 20px 20px 20px 20px;
            margin-top: 20%;
        }
        #plinks{
            background-color: transparent;
            height: 40%;
            width: 100%;
            margin-top: 12%;
            float:left;
            margin-left: 2%;
        
        }
        a{
            text-decoration: none;
            color: black;
        }
        #icon1,#icon2,#icon3,#icon4,#kicon{
    
            width: 15px;
            height: 15px;
        }
        #books{
            background-color: transparent;
            height:85%;
            width: 80%;
            float:right;
            margin-top: 4%;
        }
        #fbooks{
           
            width:auto;
            height: 55%;
          background-color:transparent;
          position: relative;
            margin-top: 0%;
            overflow-x: scroll;
            overflow-y: hidden;
            overflow-x: hidden;
            white-space: nowrap;
                -webkit-overflow-scrolling: touch;
                
        }
        #slideBack{
           
            position: fixed;
            left: 22%;
            top: 30%;
            height: 80px;
            width: 80px;
            border-radius: 50%;
        outline-style:initial;
        cursor: pointer;
        background: url("images/forward-arrow-icon-4.png");
        background-color: black;

            


        }
        #slide{
            position: fixed;
            float: right;
            margin-right: 3%;
            top: 30%;
            height: 80px;
            width: 80px;
            border-radius: 50%;
        outline-style:initial;
        cursor: pointer;
        background: url("images/forward-arrow-icon-4.png");
        background-color: black;

        }
        #bslideBack{
           
            position: fixed;
            left: 22%;
            top: 75%;
            height: 80px;
            width: 80px;
            border-radius: 50%;
        outline-style:initial;
        cursor: pointer;
        background: url("images/forward-arrow-icon-4.png");
        background-color: black;

            


        }
        #bslide{
            position: fixed;
          right: 18%;
            top: 75%;
            height: 80px;
            width: 80px;
            border-radius: 50%;
        outline-style:initial;
        cursor: pointer;
        background: url("images/forward-arrow-icon-4.png");
        background-color: black;

        }
        #e11,#e112{
            color: white;
            top: 50%;
            text-align: center;
        }
        #nbooks{
            background-color: transparent;
            width:75%;
            height: 100%;
            margin-top: 0%;
            overflow-x:hidden;
           overflow-y:hidden;
            white-space: nowrap;
                -webkit-overflow-scrolling: touch;
          
              
        }
        #blwscroll{
            background-color: transparent;
            width: 100%;
            height: 50%;

        }
        #xscroll{
            background-color: transparent;
            width: 150%;
            height: 100%;
            display: flex;

        }
        #fame{
            background-color: lightgray ;
            width: 20%;
            height: 45%;
            float: right;
            right: 0%;
            border-radius: 60px 0px 0px 60px;
            top: 60%; 
            position: absolute;
            
        }
        #img1,#img2,#img3{
            width: 18%;
            height: 100%;
            float: left;
            margin-top:0% ;
            border-radius: 60px 60px 60px 60px;
            vertical-align: middle;
            margin-left: 3%;
           
        }
       
       #b1{
           margin-top: 0%;
           height: 55%;
           width: 10%;
           float: left;
           background-color:rebeccapurple;
           margin-left: 5%;
           border-radius: 30px 30px 30px 30px;
       }

       #b2{
        margin-top: 0%;
        height: 55%;
        width: 10%;
        float: left;
        background-color:rebeccapurple;
        margin-left: 5%;
        border-radius: 30px 30px 30px 30px;
    }
    #b3{
      margin-top: 0%;
           height: 55%;
           width: 10%;
           float: left;
           background-color:rebeccapurple;
           margin-left: 5%;
           border-radius: 30px 30px 30px 30px;
    }
    #b4{
      margin-top: 0%;
      height: 55%;
      width: 10%;
      float: left;
      background-color:rebeccapurple;
      margin-left: 5%;
      border-radius: 30px 30px 30px 30px;
    }
    #b5{
      margin-top: 0%;
      height: 55%;
      width: 10%;
      float: left;
      background-color:rebeccapurple;
      margin-left: 5%;
      border-radius: 30px 30px 30px 30px;
    }
    #b6{
      margin-top: 0%;
      height: 55%;
      width: 10%;
      float: left;
      background-color:rebeccapurple;
      margin-left: 5%;
      border-radius: 30px 30px 30px 30px;
        
    }
    #b7{
      margin-top: 0%;
      height: 55%;
      width: 10%;
      float: left;
      background-color:rebeccapurple;
      margin-left: 5%;
      border-radius: 30px 30px 30px 30px;
    }
       #imgb1{
           height: 100%;
           width: 100%;
           border-radius: 30px 30px 30px 30px;
    
       }
    
   
       #imgb2,#imgb3,#imgb4,#imgb5,#imgb6{
           height: 100%;
           width: 100%;
           border-radius: 30px 30px 30px 30px;
    
       }
       #author1,#author2,#author3{
           width: 100%;
           background-color:transparent;
           height: 20%;
           margin-top: 0%;
    
       }
    
     hr{
         width: 100%;
         color: white;
     }
     h3{
        margin-left: 25%;
        margin-top: 0%;
        vertical-align: middle;
     }
     h4{
         text-align: center;
     }
     #nr,#nr1{
         margin-left: 0%;
        
     }
     #tbb1{
        width: 28%;
         height: 40%;
         float: left;
         
         border-radius: 30px 30px 30px 30px;
         margin-top: 13%;
         background-image: url("images/download (1).jpg");
         
         
     }
     #tbb4{
        width: 28%;
         height: 40%;
         float: left;
         margin-left: 90%;
         border-radius: 30px 30px 30px 30px;
         margin-top: 13%;
         background-image:url("images/171213-F-SE307-0266-scaled.jpg") ;
         position: absolute;
     }
     #tbb2{
        width: 28%;
         height: 40%;
         float: left;
         margin-left: 2%;
         border-radius: 30px 30px 30px 30px;
         margin-top: 13%;
         background-image: url("images/black-white-forest-pathway-plain.jpg");
     }
     #tbb3{
        width: 28%;
         height: 40%;
         float: left;
         margin-left: 2%;
         border-radius: 30px 30px 30px 30px;
         margin-top: 13%;
         background-image: url("images/444961-full-size-blue-sky-wallpaper-2560x1600-high-resolution.jpg");
     }
     #imgtop1{
        width: 28%;
         height: 40%;
         float: left;
         
         border-radius: 30px 30px 30px 30px;
         margin-top: 13%;
         background-image: url("images/download (1).jpg");
     }
     #dimgtop1{
        height: 70%;
         width: 10%;
         float: left;
         margin-left: 2%;
         margin-top: 2%;
         background-color:lightslategrey;
         border-radius: 30px 30px 30px 30px;
         position:absolute;
    
     }
    
     #dimgtop2{
        height: 70%;
         width: 10%;
         float: left;
         margin-left: 32%;
         margin-top: 2%;
         background-color:red;
         border-radius: 30px 30px 30px 30px;
         position:absolute;
    
     }
    
     #dimgtop3{
        height: 70%;
         width: 10%;
         float: left;
         margin-left: 62%;
         margin-top: 2%;
         background-color:red;
         border-radius: 30px 30px 30px 30px;
         position:absolute;
     }
     #dimgtop4{
        height: 70%;
         width: 10%;
         float: left;
         margin-left: 92%;
         margin-top: 2%;
         background-color:red;
         border-radius: 30px 30px 30px 30px;
         position:absolute;
     }
    
    
     /*book image*/
     #resbook1,#resbook2,#resbook3,#resbook4{
         height: 100%;
         width: 100%;
         border-radius: 30px 30px 30px 30px;
     }
    
    
    
    
    
     nav{
        margin-top: 0%;
         height: 5%;
         width: 80%;
        background-color: aqua;
       display: block;
         float:right;
     }
     #nh41,#nh42{
         float: right;
         margin-right: 5%;
         margin-top: 1%;
     }
     #sqricon{
    
        float: right;
         margin-right: 5%;
         margin-top: 1%;
         width: 15px;
            height: 15px;
     }
     #button1s{
         float: right;
         margin-right: 5%;
         margin-top: 0.5%;
         border-radius: 0px 30px 30px 0px;
         height: 70%;
         width: 50px;
         border-left: 0ch;
         background-color: transparent;
        
         background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
      cursor: pointer;
      opacity: 0.7;
    }
     
    button[type="submit"]:hover {
      opacity: 1;
    }
     #sc{
        float: right;
         margin-right: 0%;
         margin-top: 0.5%;
         border-radius: 30px 0px 0px 30px;
         height: 70%;
         border-right:0ch;
         background-color: transparent;
         width: 20%;
         text-align: center;
     }
     #amazonl{
         float: left;
         height: 100%;
         width: auto;
         margin-left: 0%;
     }
     #blogo{
         margin-left: 2%;
         float: left;
     }
     #bimglogo{
         
         height: 8%;
        
     }
     
     #book1_d,#book2_d,#book3_d,#book4_d{
         float: right;
         height: 80%;
         background-color:transparent;
         width: 55%;
         margin-top: 4%;
         color:white;
     }
     #h21,#h22,#h23,#h24{
        font-size: 17px;
     }
     #aname1, #aname2, #aname3{
         height: 80%;
         width: 70%;
         float: right;
         background-color:transparent;
         color: black;
     }
     #author11,#author12,#author13{
       margin-top: 0%;
     }
     #saraw{
         width: 100%;
         height: 25%;
         background-color: transparent;
         margin-top: 50%;
     }
     F
     #label, #label2, #label3, #label4, #label5{
         background-color:lightgrey;
         width: 80%;
         height: auto;
         float: left;
         margin-left: 4%;
         border-radius: 10px 10px 10px 10px;
         text-align: center;
         color: black;
    
     }
     #namelog,#Welcomeid{
         float: left;
         margin-left: 25%;
         position: absolute;
     }
     #sidem{
         background-color:transparent;
         height:100%;
         width: 16%;
         position: fixed;
     }
     #scart{
        float: right;
        margin-right: 4%;
        margin-top: 1%;
        width: 20px;
        height: 20px; 
     }
#myBtn,#myBtn1,#myBtn3,#myBtn4,#myBtn5,#myBtn6,#myBtn7{
    height: 70%;
           width: 100%;
           border-radius: 30px 30px 30px 30px;
           float: right; 
           border-width: 0px;
           opacity: 10;
}
#namentop1,#namentop2,#namentop4,#namentop5,#namentop6,#namentop6,#namentop7{
    width: 100%;
    height: 10%;
    background-color:transparent;
    margin-top: 0%;
}
#imgb11,#imgb12,#imgb13,#imgb14{
    width: 30%;
    height: 40%;
    float: left;
    margin-left: 5%;
    margin-top: 5%;

}
#divpar1,#divpar2,#divpar3,#divpar4,#divpar5,#divpar6,#divpar7{
    height: 60%;
    width: 80%;
    float: left;
    margin-top: 2%;
    margin-left: 5%;
    background-color:wheat;
}
     #adcbtn,#adcbtn2,#adcbtn3,#adcbtn4,#adcbtn5,#adcbtn6,#adcbtn7{
         height: 5%;
         width: 10%;
         background-color: orange;
         color: white;
        
        
         float: left;
     margin-left: 43.5%;
         border-color: white;

border-width: 5px;
         margin-top: 2%;
         border-radius: 0px 0px 0px 0px;
        
     }
     #price{
      background-color: orange;
       height: 8%;
       width: 10%;
       text-align: center;
     float: left;
     margin-left: 50%;
     margin-top: -2%;
     color: white;
    

     }









    .overlayc {
      height: 0%;
      width: 100%;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: rgb(0,0,0);
      background-color: white;
      overflow-y: hidden;
      transition: 0.5s;
    }
    
    .overlay-contentc {
      position: relative;
      top: 25%;
      width: 100%;
      text-align: center;
      margin-top: 30px;
    }
    
    .overlay a {
      padding: 8px;
      text-decoration: none;
      font-size: 36px;
      color: #818181;
      display: block;
      transition: 0.3s;
    }
    
    .overlay a:hover, .overlay a:focus {
      color: #f1f1f1;
    }
    
    .overlayc .closebtnc {
      position: absolute;
      top: 20px;
      right: 45px;
      font-size: 60px;
    }
  
    




    .cart-btn {
      position: relative;
      display: flex;
      justify-content: flex-end;
    }
    
    #cart {
      position: relative;
      font-size: 2rem;
      cursor: pointer;
      margin: 1em 4em 0 0;
    }
    
    .cart-quantity {
      color: white;
      background-color: red;
      padding: .2em .3em;
      position: absolute;
      margin: .8em 7.5em 0 0;
      right: 0;
      border: solid 2px red;
      border-radius: 15px;
      font-weight: bolder;
    }
    .add-to-cart {
      background-color: black;
      color: white;
     
      top: 65%;
     
     
      font-weight: bolder;
      font-size: 1.2rem
    }
    
    .product-price {
      padding-top: 1em;
      font-weight: bold;
      font-size: 1.5rem;
    }    

    .cart-modal-overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, .5);
      z-index: 2;
      transform: translateX(-200%);
      transition: .5s ease-out;
      
    }
    
    .cart-modal {
      height: 100vh;
      width: 50%;
      background-color: rgb(50,50,50);
      float: right;
      overflow: scroll;
      overflow-x: hidden;
    }
    
    #close-btn {
      font-size: 1.5rem;
      float: right;
      margin: .5em 2em 0 0;
      color: white;
      cursor: pointer;
    }
    
    .cart-is-empty {
      color: white;
      text-align: center;
      font-size: 1.5rem;
      margin-bottom: 1em;
      display: none;
      
    }
    .total {
      text-align: center;
      margin: 2em 0 2em 0;
    /*   display: none; */
    }
    
    .cart-total {
      color: white;
    }
    
    .total-price {
      color: white;
      font-size: 2rem;
      display: block;
    }
    
    .purchase-btn {
      font-size: 1rem;
      font-weight: bolder;
      background-color: green;
      color: white;
      padding: 1em 2em;
      border-radius: 10px;
      outline: none;
      border: none;
      cursor: pointer;
      margin: 2em 0 1em 0;
    }
    
    .product-rows {
      margin-top: 3em;
      width: 95%;
      margin-left: auto;
      margin-right: auto;
      
    }
    
    .product-row {
      display: flex;
      align-items: center;
    }
    
    .cart-image {
      width: 10rem;
      margin: 1em;
    }
    
    .cart-price {
      color: white;
      font-size: 1.5rem;
      font-weight: bolder;
    }
    
    .product-quantity {
      width: 4rem;
      font-size: 2rem;
      margin-left: 3rem;
    }
    
    .remove-btn {
      padding: 1em 2em;
      background-color: red;
      color: white;
      outline: none;
      border: none;
      cursor: pointer;
      margin-left: 3rem;
      font-weight: bolder;
      font-size: 1rem;
    }
    
    .remove-btn:active {
      transform: translateY(5px);
    }

    @import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
*{ margin: 0; padding: 0;}

.intro{
   background: #fff;
   padding: 60px 30px;
   color: #333;
   margin-bottom: 15px;
   line-height: 1.5;
   text-align: center;
}
.intro h1 {
   font-size: 18pt;
   padding-bottom: 15px;

}
.intro p{
   font-size: 14px;
}

.action{
   text-align: center;
   display: block;
   margin-top: 20px;
}

a.btn {
  text-decoration: none;
  color: #666;
   border: 2px solid #666;
   padding: 10px 15px;
   display: inline-block;
   margin-left: 5px;
}
a.btn:hover{
   background: #666;
   color: #fff;
    transition: .3s;
-webkit-transition: .3s;
}
.btn:before{
  font-family: FontAwesome;
  font-weight: normal;
  margin-right: 10px;
}
.github:before{content: "\f09b"}
.down:before{content: "\f019"}
.back:before{content:"\f112"}
.credit{
    background: #fff;
    padding: 12px;
    font-size: 9pt;
    text-align: center;
    color: #333;
    margin-top: 40px;

}
.credit span:before{
   font-family: FontAwesome;
   color: #e41b17;
   content: "\f004";


}
.credit a{
   color: #333;
   text-decoration: none;
}
.credit a:hover{
   color: #1DBF73; 
}
.credit a:hover:after{
    font-family: FontAwesome;
    content: "\f08e";
    font-size: 9pt;
    position: absolute;
    margin: 3px;
}
main{
  background: #fff;
  padding: 20px;
  
}

article li{
   color: #444;
   font-size: 15px;
   margin-left: 33px;
   line-height: 1.5;
   padding: 5px;
}
article h1,
article h2,
article h3,
article h4,
article p{
   padding: 14px;
   color: #333;
}
article p{
   font-size: 15px;
    line-height: 1.5;
}
 
@media only screen and (min-width: 1280px){
    main{
      max-width: 960px;
      margin-left: auto;
      margin-right: auto; 
      padding: 24px;
    }


}

.set-overlayer,
.set-glass,
.set-sticky {
	cursor: pointer;
	height: 45px;
	line-height: 45px;
	padding: 0 15px;
	color: #333;
	font-size: 16px;
}
.set-overlayer:after,
.set-glass:after,
.to-active:after,
.set-sticky:after {
	font-family: FontAwesome;
	font-size: 18pt;
	position: relative;
	float: right;
}
.set-overlayer:after,
.set-glass:after,
.set-sticky:after {
	content: "\f204";
	transition: .6s;
}

.to-active:after {
	content: "\f205";
	color: #008080;
	transition: .6s;
}
.set-overlayer,
.set-glass,
.set-sticky,
.source,
.theme-tray {
	margin: 10px;
	background: #f2f2f2;
	border-radius: 5px;
	border: 2px solid #f1f1f1;
	box-sizing: border-box;
}
/* Syntax Highlighter*/

pre.prettyprint {
	padding: 15px !important;
   margin: 10px;
	border: 0 !important;
  background: #f2f2f2;
  overflow: auto;
}

.source {
	white-space: pre;
	overflow: auto;
	max-height: 400px;
}
code{
    border:1px solid #ddd;
    padding: 2px;
    border-radius: 2px;
}
.product-image {
  height: 20%;

}
